@font-face {
  font-family: 'Polysans Neutral';
  src: url('https://cdn.prod.website-files.com/6127a84dfe068e153ef20572/66b4a66d22e2c49832621144_PolySans-Neutral.woff2')
    format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Polysans Slim';
  src: url('https://cdn.prod.website-files.com/6127a84dfe068e153ef20572/66b4a66da54786325597bf31_PolySans-Slim.woff2')
    format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Polysans Neutral Mono';
  src: url('https://cdn.prod.website-files.com/6127a84dfe068e153ef20572/66b5e8b95fd9e34f78a1c7de_PolySans-NeutralMono.woff2')
    format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Polysans Median';
  src: url('https://cdn.prod.website-files.com/6127a84dfe068e153ef20572/66b5e8b9a5fb33f679d14c62_PolySans-Median.woff2')
    format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
